*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.settings/org.eclipse.core.resources.prefs

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/sidetopics.iml

.idea/vcs.xml

.idea/workspace.xml


# Notebooks
#
src/notebooks/.ipynb_checkpoints
src/notebooks/.texpadtmp
src/notebooks/*_files
src/notebooks/*.pdf
src/notebooks/*.tex
src/notebooks/*.tex-e
src/notebooks/*.html
src/notebooks/*.zip
src/notebooks/*.idx
src/notebooks/*.aux
src/notebooks/*.log
src/notebooks/*.out

# The notebooks copy
src/notebooks-imac

src/notebooks/Local Mathjax.ipynb

# The compiled library files
src/util/lib.macosx-10.9-x86_64-3.3
src/util/temp.macosx-10.9-x86_64-3.3
src/se_fast.so.reload1
src/sig_fast.so.reload1

src/util/se_fast.c

src/util/sig_fast.c

*.reload1

src/model/lda_cvb_fast.c
